In [1]:
import pandas as pd
import numpy as np

In [2]:
my_dict = {
    'color': ['red', 'blue', 'black'],
    'density': [2, 8, 9]
}

In [3]:
df = pd.DataFrame(my_dict)
df

   color  density
0    red        2
1   blue        8
2  black        9

In [5]:
df2 = pd.DataFrame(zip(my_dict['color'], my_dict['density']), columns=['color', 'density'])
df2

   color  density
0    red        2
1   blue        8
2  black        9

In [6]:
df3 = pd.DataFrame(zip(my_dict['color'], my_dict['density']), columns=['color', 'density'], index=['r1', 'r2', 'r3'])
df3

    color  density
r1    red        2
r2   blue        8
r3  black        9

In [7]:
df4 = pd.read_csv('oil_consumption_per_cap.csv')
df4.head(2)

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Algeria,0.102,0.13,0.118,0.122,0.125,0.140,0.153,0.163,0.173,...,0.376,0.402,0.419,0.411,0.430,0.448,0.458,0.452,0.488,0.465
1,Argentina,0.990,1.01,1.020,1.020,1.050,0.923,0.969,0.954,0.939,...,0.605,0.616,0.596,0.681,0.679,0.703,0.749,0.729,0.741,0.728

In [8]:
df4.shape

(65, 53)

In [10]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 53 columns):
country    65 non-null object
1965       56 non-null float64
1966       56 non-null float64
1967       56 non-null float64
1968       56 non-null float64
1969       56 non-null float64
1970       56 non-null float64
1971       57 non-null float64
1972       57 non-null float64
1973       57 non-null float64
1974       57 non-null float64
1975       57 non-null float64
1976       57 non-null float64
1977       57 non-null float64
1978       57 non-null float64
1979       57 non-null float64
1980       57 non-null float64
1981       57 non-null float64
1982       57 non-null float64
1983       57 non-null float64
1984       57 non-null float64
1985       65 non-null float64
1986       65 non-null float64
1987       65 non-null float64
1988       65 non-null float64
1989       65 non-null float64
1990       65 non-null float64
1991       65 non-null float64
1992       65 non-null float64
1993       65 non-null float64
1994       65 non-null float64
1995       65 non-null float64
1996       65 non-null float64
1997       65 non-null float64
1998       65 non-null float64
1999       65 non-null float64
2000       65 non-null float64
2001       65 non-null float64
2002       65 non-null float64
2003       65 non-null float64
2004       65 non-null float64
2005       65 non-null float64
2006       65 non-null float64
2007       65 non-null float64
2008       65 non-null float64
2009       65 non-null float64
2010       65 non-null float64
2011       65 non-null float64
2012       65 non-null float64
2013       65 non-null float64
2014       65 non-null float64
2015       65 non-null float64
2016       65 non-null float64
dtypes: float64(52), object(1)
memory usage: 27.0+ KB

In [14]:
df4.columns

Index(['country', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')

In [15]:
df

   color  density
0    red        2
1   blue        8
2  black        9

In [26]:
df4.loc[10:20, 'country':'1967']

           country    1965   1966    1967
10          Canada  2.7300  2.830  2.9700
11           Chile  0.4060  0.434  0.4430
12           China  0.0152  0.019  0.0183
13        Colombia  0.2010  0.223  0.2180
14  Czech Republic  0.4070  0.450  0.5010
15         Denmark  2.1900  2.470  2.6000
16         Ecuador  0.1260  0.128  0.1340
17           Egypt  0.2250  0.235  0.1860
18         Finland  1.2500  1.510  1.5800
19          France  1.1000  1.170  1.3300
20         Germany  1.1300  1.260  1.2900

In [30]:
df4.iloc[10:20, 0:4]

           country    1965   1966    1967
10          Canada  2.7300  2.830  2.9700
11           Chile  0.4060  0.434  0.4430
12           China  0.0152  0.019  0.0183
13        Colombia  0.2010  0.223  0.2180
14  Czech Republic  0.4070  0.450  0.5010
15         Denmark  2.1900  2.470  2.6000
16         Ecuador  0.1260  0.128  0.1340
17           Egypt  0.2250  0.235  0.1860
18         Finland  1.2500  1.510  1.5800
19          France  1.1000  1.170  1.3300

In [31]:
df4[df4['1966']>2]

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
10,Canada,2.73,2.83,2.97,3.11,3.18,3.34,3.37,3.49,3.63,...,3.08,3.01,2.79,2.96,3.02,2.93,2.94,2.90,2.76,2.78
15,Denmark,2.19,2.47,2.60,2.80,3.35,3.71,3.63,3.82,3.51,...,1.72,1.69,1.49,1.50,1.48,1.38,1.37,1.38,1.40,1.41
31,Kuwait,11.50,10.10,8.99,8.01,7.20,6.52,6.01,6.13,5.48,...,7.14,7.17,7.25,6.99,6.38,7.19,6.30,5.55,5.66,5.43
35,Netherlands,2.06,2.21,2.23,2.37,2.56,2.81,2.74,3.01,3.07,...,3.07,2.85,2.76,2.75,2.75,2.60,2.46,2.35,2.29,2.35
46,Saudi Arabia,4.04,3.94,3.83,3.73,3.62,3.60,3.49,3.56,3.59,...,4.13,4.41,4.72,5.00,4.93,5.03,4.92,5.19,5.28,5.20
47,Singapore,2.19,2.45,2.89,3.52,3.40,3.62,3.08,3.80,3.51,...,10.20,10.60,11.20,12.00,12.30,12.00,12.00,12.10,12.50,12.80
52,Sweden,2.45,2.75,2.67,2.99,3.35,3.63,3.39,3.48,3.58,...,1.84,1.80,1.66,1.72,1.57,1.53,1.49,1.49,1.45,1.49
55,Trinidad and Tobago,2.08,2.08,2.16,2.19,2.27,2.31,2.36,3.85,3.82,...,1.61,1.71,1.62,1.68,1.57,1.50,1.67,1.52,1.65,1.58
61,United States,2.76,2.87,2.95,3.12,3.27,3.37,3.45,3.70,3.87,...,3.09,2.89,2.72,2.75,2.68,2.61,2.64,2.64,2.68,2.68

In [32]:
 df4.where(df4['1966']>2)

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Canada,2.73,2.83,2.97,3.11,3.18,3.34,3.37,3.49,3.63,...,3.08,3.01,2.79,2.96,3.02,2.93,2.94,2.90,2.76,2.78
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Denmark,2.19,2.47,2.60,2.80,3.35,3.71,3.63,3.82,3.51,...,1.72,1.69,1.49,1.50,1.48,1.38,1.37,1.38,1.40,1.41
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,Netherlands,2.06,2.21,2.23,2.37,2.56,2.81,2.74,3.01,3.07,...,3.07,2.85,2.76,2.75,2.75,2.60,2.46,2.35,2.29,2.35
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Saudi Arabia,4.04,3.94,3.83,3.73,3.62,3.60,3.49,3.56,3.59,...,4.13,4.41,4.72,5.00,4.93,5.03,4.92,5.19,5.28,5.20
47,Singapore,2.19,2.45,2.89,3.52,3.40,3.62,3.08,3.80,3.51,...,10.20,10.60,11.20,12.00,12.30,12.00,12.00,12.10,12.50,12.80
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Sweden,2.45,2.75,2.67,2.99,3.35,3.63,3.39,3.48,3.58,...,1.84,1.80,1.66,1.72,1.57,1.53,1.49,1.49,1.45,1.49
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Trinidad and Tobago,2.08,2.08,2.16,2.19,2.27,2.31,2.36,3.85,3.82,...,1.61,1.71,1.62,1.68,1.57,1.50,1.67,1.52,1.65,1.58
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,United States,2.76,2.87,2.95,3.12,3.27,3.37,3.45,3.70,3.87,...,3.09,2.89,2.72,2.75,2.68,2.61,2.64,2.64,2.68,2.68
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
 df4.where(df4['1966']>2, 0)

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
6,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
7,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
8,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
9,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
10,Canada,2.73,2.83,2.97,3.11,3.18,3.34,3.37,3.49,3.63,...,3.08,3.01,2.79,2.96,3.02,2.93,2.94,2.90,2.76,2.78
11,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
12,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
13,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
14,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
15,Denmark,2.19,2.47,2.60,2.80,3.35,3.71,3.63,3.82,3.51,...,1.72,1.69,1.49,1.50,1.48,1.38,1.37,1.38,1.40,1.41
16,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
17,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
18,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
19,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
20,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
21,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
22,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
23,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
24,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
26,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
27,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
28,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
29,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,Netherlands,2.06,2.21,2.23,2.37,2.56,2.81,2.74,3.01,3.07,...,3.07,2.85,2.76,2.75,2.75,2.60,2.46,2.35,2.29,2.35
36,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
37,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
38,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
39,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
40,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
41,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
42,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
43,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
44,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
45,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
46,Saudi Arabia,4.04,3.94,3.83,3.73,3.62,3.60,3.49,3.56,3.59,...,4.13,4.41,4.72,5.00,4.93,5.03,4.92,5.19,5.28,5.20
47,Singapore,2.19,2.45,2.89,3.52,3.40,3.62,3.08,3.80,3.51,...,10.20,10.60,11.20,12.00,12.30,12.00,12.00,12.10,12.50,12.80
48,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
49,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
51,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
52,Sweden,2.45,2.75,2.67,2.99,3.35,3.63,3.39,3.48,3.58,...,1.84,1.80,1.66,1.72,1.57,1.53,1.49,1.49,1.45,1.49
53,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
54,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
55,Trinidad and Tobago,2.08,2.08,2.16,2.19,2.27,2.31,2.36,3.85,3.82,...,1.61,1.71,1.62,1.68,1.57,1.50,1.67,1.52,1.65,1.58
56,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
57,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
58,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
59,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
60,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
61,United States,2.76,2.87,2.95,3.12,3.27,3.37,3.45,3.70,3.87,...,3.09,2.89,2.72,2.75,2.68,2.61,2.64,2.64,2.68,2.68
62,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
63,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
64,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [36]:
df4['new col'] = df4['2012']/df4['1990']
df4['new col']

0     1.269122
1     1.167774
2     1.076923
3     1.042553
4     0.381356
        ...
60    0.765517
61    0.855738
62    0.208502
63    1.192308
64    4.489311
Name: new col, Length: 65, dtype: float64

In [37]:
df4.insert(1, 'new col2', df4['2012']/df4['1990'])

In [39]:
df4.head(2)

,country,new col2,1965,1966,1967,1968,1969,1970,1971,1972,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,new col
0,Algeria,1.269122,0.102,0.13,0.118,0.122,0.125,0.140,0.153,0.163,...,0.402,0.419,0.411,0.430,0.448,0.458,0.452,0.488,0.465,1.269122
1,Argentina,1.167774,0.990,1.01,1.020,1.020,1.050,0.923,0.969,0.954,...,0.616,0.596,0.681,0.679,0.703,0.749,0.729,0.741,0.728,1.167774

In [41]:
df4.drop(['new col2', '1965'], axis=1).head()

,country,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,new col
0,Algeria,0.130,0.118,0.122,0.125,0.140,0.153,0.163,0.173,0.187,...,0.402,0.419,0.411,0.430,0.448,0.458,0.452,0.488,0.465,1.269122
1,Argentina,1.010,1.020,1.020,1.050,0.923,0.969,0.954,0.939,0.930,...,0.616,0.596,0.681,0.679,0.703,0.749,0.729,0.741,0.728,1.167774
2,Australia,1.550,1.650,1.750,1.760,1.900,1.960,1.970,2.070,2.160,...,2.020,2.000,1.980,2.060,2.100,2.080,2.050,2.010,1.980,1.076923
3,Austria,0.832,0.880,1.010,1.110,1.210,1.350,1.450,1.560,1.390,...,1.600,1.530,1.590,1.500,1.470,1.480,1.440,1.440,1.450,1.042553
4,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.407,0.371,0.356,0.436,0.450,0.484,0.468,0.471,0.474,0.381356

In [43]:
df4.rename(columns={'1966': 'this name!'}).head()

,country,new col2,1965,this name!,1967,1968,1969,1970,1971,1972,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,new col
0,Algeria,1.269122,0.102,0.130,0.118,0.122,0.125,0.140,0.153,0.163,...,0.402,0.419,0.411,0.430,0.448,0.458,0.452,0.488,0.465,1.269122
1,Argentina,1.167774,0.990,1.010,1.020,1.020,1.050,0.923,0.969,0.954,...,0.616,0.596,0.681,0.679,0.703,0.749,0.729,0.741,0.728,1.167774
2,Australia,1.076923,1.330,1.550,1.650,1.750,1.760,1.900,1.960,1.970,...,2.020,2.000,1.980,2.060,2.100,2.080,2.050,2.010,1.980,1.076923
3,Austria,1.042553,0.761,0.832,0.880,1.010,1.110,1.210,1.350,1.450,...,1.600,1.530,1.590,1.500,1.470,1.480,1.440,1.440,1.450,1.042553
4,Azerbaijan,0.381356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.407,0.371,0.356,0.436,0.450,0.484,0.468,0.471,0.474,0.381356