In [1]:
import pandas as pd

df = pd.read_csv('oil_consumption_per_cap.csv')

In [2]:
df.head(2)

,country,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Algeria,0.102,0.13,0.118,0.122,0.125,0.140,0.153,0.163,0.173,...,0.376,0.402,0.419,0.411,0.430,0.448,0.458,0.452,0.488,0.465
1,Argentina,0.990,1.01,1.020,1.020,1.050,0.923,0.969,0.954,0.939,...,0.605,0.616,0.596,0.681,0.679,0.703,0.749,0.729,0.741,0.728

In [3]:
def my_function(x):
    return x*x

df['2009'].apply(my_function)

0     0.175561
1     0.355216
2     4.000000
3     2.340900
4     0.137641
        ...
60    1.464100
61    7.398400
62    0.023104
63    1.440000
64    0.027889
Name: 2009, Length: 65, dtype: float64

In [5]:
df['2009'].apply(lambda x: 2*x)

0     0.838
1     1.192
2     4.000
3     3.060
4     0.742
      ...
60    2.420
61    5.440
62    0.304
63    2.400
64    0.334
Name: 2009, Length: 65, dtype: float64