In [1]:
import pandas as pd

In [2]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df1 = pd.DataFrame(data=d)
d = {'col1': [5, 6, 10], 'col2': [7, 8, 11]}
df2 = pd.DataFrame(data=d)

In [3]:
pd.concat([df1, df2])

   col1  col2
0     1     3
1     2     4
0     5     7
1     6     8
2    10    11

In [4]:
pd.concat([df1, df2], axis=1, join='inner')

   col1  col2  col1  col2
0     1     3     5     7
1     2     4     6     8

In [5]:
pd.concat([df1, df2], axis=1, join='outer')

   col1  col2  col1  col2
0   1.0   3.0     5     7
1   2.0   4.0     6     8
2   NaN   NaN    10    11

In [6]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df1 = pd.DataFrame(data=d)
d = {'col1': [1, 6, 10], 'col2': [7, 8, 11]}
df2 = pd.DataFrame(data=d)

In [7]:
pd.merge(df1, df2, on='col1')

   col1  col2_x  col2_y
0     1       3       7

In [8]:
pd.merge(df1, df2, on='col1', how='outer')

   col1  col2_x  col2_y
0     1     3.0     7.0
1     2     4.0     NaN
2     6     NaN     8.0
3    10     NaN    11.0

In [12]:
pd.merge(df1, df2)

Empty DataFrame
Columns: [col1, col2]
Index: []

In [9]:
df1.join(df2, lsuffix='1', rsuffix='r')

   col11  col21  col1r  col2r
0      1      3      1      7
1      2      4      6      8

In [10]:
df1.set_index('col1').join(df2.set_index('col1'), lsuffix='1', rsuffix='r')

      col21  col2r
col1
1         3    7.0
2         4    NaN