In [1]:
import numpy as np
import pandas as pd

In [2]:
a = 1
type(a)

int

In [3]:
type(1.1)

float

In [4]:
type(np.nan)

float

In [5]:
type('1.1')

str

In [6]:
type(np.float(1))

float

In [7]:
type(np.float32(1))

numpy.float32

In [8]:
type(np.int64(1))

numpy.int64

In [11]:
df = pd.read_csv('002-Python-Exam/income.csv')
df.head(1)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K

In [12]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
educational-num     int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
income             object
dtype: object

In [14]:
df.memory_usage()

Index                 128
age                390736
workclass          390736
fnlwgt             390736
education          390736
educational-num    390736
marital-status     390736
occupation         390736
relationship       390736
race               390736
gender             390736
capital-gain       390736
capital-loss       390736
hours-per-week     390736
native-country     390736
income             390736
dtype: int64

In [15]:
df.memory_usage(deep=True)

Index                  128
age                 390736
workclass          3168423
fnlwgt              390736
education          3195345
educational-num     390736
marital-status     3487614
occupation         3379231
relationship       3230347
race               3054061
gender             3011746
capital-gain        390736
capital-loss        390736
hours-per-week      390736
native-country     3385085
income             3016517
dtype: int64

In [16]:
df.memory_usage(deep=True).sum()

31272913